#bleu{
  background-color: blue;
}
#rouge{
  background-color: red;
}
form{
  display: flex;
	flex-direction: column;
  width: 20%;
}
@media (orientation: landscape){
  form{
    width: 100%;
  }
}
